@use 'fonts';

$primary-color: #F3E8DE;
$secondary-color: #DECCBE;
$accent-color:#FD6F00;
$body-text-color: #000000;
$heading-font-family: Arial, Helvetica, sans-serif;
$body-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;