@use '../abstracts' as a;
#footer {
    background-color: #F0D9C5;
    padding: 20px;
    text-align: center;
}

#footer-logo {
    text-align: left;
}

#footer-logo img {
    width: 120px;
}

#footer-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

#footer-menu ul li {
    margin: 0 10px;
}

#footer-menu ul li a {
    text-decoration: none;
    color: #6C3205;
    font-size: 16px;
}

#footer-menu ul li a:hover {
    color: #FD6F00; 
}

#footer-copyright {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}
