
.contact-section {
    background-color: #A08974;
}

.contact-in-title{
    color: #6c3205;
    background-color: #EEDAC8;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    padding: 40px;
}

.contact-all{
    padding: 90px 20px;
}

/* Left Side - Illustration */
.contact-illustration {
     margin: 40px;

  }
  
  .contact-illustration img {
    max-width: 100%;
    height: auto;
  }
  
  /* Right Side - Form */
  .contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: #FFF9F4;
    font-weight: bold;
  }
  
  .contact-form label {
    font-size: 18px;

    text-align: left;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem;

    border: 1px solid #FFF9F4;
    border-radius: 20px;
    background-color: #FFF9F4;
    font-size: 14px;

  }
  
  .contact-form textarea {
    resize: none;
    height: 100px;
  }


  .contact-form button{
    border: 1px solid #fd6f00;

  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}