
.portfolio-bk{
    padding-bottom: 50px;
    background-color: #FBF5EE;
}

.portfolio-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.portpage-title{
    text-align: center;
    color: #6C3205;
    font-size: 32px;
    font-weight: bold;
    margin: 24px;
}

.header-bk{
    background-color: #FBF5EE;
}