body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    color: #3e3e3e; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

// h1 {
//     color: #5d4037; 
//     text-align: center;
// }

.project-list {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-list a {
    text-decoration: none;
    color: rgb(224, 12, 12); 
    margin-left: 10px;
    font-weight: bold;
}

.project-list a:hover {
    color: rgb(149, 8, 8); 
}

form {
    // background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #5d4037; 
}

/* 表單輸入框 */
// form input[type="text"],
// form input[type="file"],
// form textarea {
//     width: 100%;
//     padding: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     margin-bottom: 20px;
//     font-size: 16px;
//     color: #5d4037; 
// }

form input[type="submit"] {
    background-color: #8d6e63; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #5d4037; 
}

a.logout {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d50e00; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a.logout:hover {
    background-color: #a60000;
}
