.pro-bk{
    background-color: #DECCBE;
}

.case-study {
   padding-top: 40px;
   padding-bottom: 60px;
}

.case-study h2 {
    text-align: center;
    color: #6C3205;
    font-size: 32px;
    font-weight: bold;
    padding: 24px;
}

.created-dat{
    margin-top: 40px;
    color: #6C3205;
    font-size: 14px;
}

.background, .created-date, .problem, .description, .solution {
    margin-bottom: 20px;
    color: #6C3205;
}

.case-study h3{
    position: relative;
}

.case-study h3::before {
    content: ""; /* 可以是裝飾性符號、文字，或留空用於設置樣式 */
    display: inline-block; /* 讓它像元素一樣可調大小 */
    width: 10px; /* 裝飾物的寬度 */
    height: 10px; /* 裝飾物的高度 */
    background-color: #6C3205; /* 裝飾物的顏色 */
    border-radius: 50%; /* 若想要圓形，使用此屬性 */
    margin-right: 10px; /* 與標題文字的間距 */
    vertical-align: middle; /* 確保與文字對齊 */
}

.case-study p {
  line-height: 28px;
  font-size: 16px;
}

.images img {
    margin: 20px;
   text-align: center;
   border-radius: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}