.pro-bk{
    background-color: #FBF5EE;
}

.case-study {
   padding-top: 40px;
   padding-bottom: 60px;
}

.case-study h2 {
    text-align: center;
    color: #6C3205;
    font-size: 36px;
    font-weight: bold;
    padding: 24px;
}


.project-images img{
    border-radius: 20px;
}

.background,.project-images, .created-date, .problem, .description, .categories, .solution {
    margin-bottom: 24px;
    color: #6C3205;
}

.created-date, .categories{
    margin-top: 30px;
}

.case-study h3{
    position: relative;
    font-size: 24px;
}

.case-study h3::before {
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    background-color: #6C3205; 
    border-radius: 50%; 
    margin-right: 10px; 
    vertical-align: middle; 
}

.case-study p {
  line-height: 30px;
  font-size: 18px;
}

.study-p{
    color: #000;
    margin-top: 20px;
   
}

.description, .problem, .solution{
    background-color: #FFF;
    border-radius: 20px;
    padding: 30px;
}

.problem{
    background-color: #ffe7dd;
}

.solution{
    background-color: #f6e4d2;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lot-images{
    text-align: center;
}

.lot-images img{
    width: 70%;
    border: solid #FFF;
}

@media screen and (min-width: 1200px) { 
    .lot-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem; /* 圖片之間的間距 */
    }
    
    .lot-images img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px; /* 可有可無，增加美觀 */
    }
    
 
 
 }