.case-study {
   margin-top: 40px;
   margin-bottom: 60px;
}

.case-study h2 {
    text-align: center;
    color: #6C3205;
    font-size: 32px;
    font-weight: bold;
    margin: 24px;
}

.created-dat{
    margin-top: 40px;
    color: #6C3205;
    font-size: 14px;
}

.background, .created-date, .problem, .description, .solution {
    margin-bottom: 20px;
    color: #6C3205;
}

.case-study p {
  line-height: 28px;
}

.images img {
   text-align: center;
   border-radius: 20px;
}